<!DOCTYPE html>
<!-- <html lang="en"> -->
	<head>
		<meta charset="utf-8">
		<title>Arab-Andalusian Patterns</title>
		<link rel="icon" href="data:;base64,=">
		<link href="../static/style.css" rel="stylesheet" type="text/css">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="../static/d3.min.js"></script>
		<script src="../static/sigma.min.js"></script>
		<script src="../static/sigma.parsers.json.js"></script>
		<script src="../static/sigma.renderers.customShapes.min.js"></script>
		<script src="../static/shape-library.js"></script>
		<script type="text/javascript" src="../static/constants.js" async></script>
		<script type="text/javascript" src="../static/functions.js" async></script>
		<script type="text/javascript" src="../static/script.js" async></script>
		<script src="../static/sigma.layout.forceAtlas2.min.js"></script>
		<script src="../static/sigma.layout.noverlap.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	</head>
	<body>
		<div class=head_page>
			<h1>Arab-Andalusian Patterns Visualization Tool</h1>
		</div>
		<div class=explanation>
			<ul>
			<li>In order to visualize and listen to the patterns, you need to select the desired group (represented with shape),
			family of nawab&#257;t and nawba (represented with colors).</p>
			<li>Once the pattern map is plotted, you can zoom in/out around the graph and click on each node to listen to it.
				Each pattern is linked to other similar patterns, spatial position has no relation with the similarity.</p>
			<li>If you want to see the plotted patterns in the context of a score, you can select a specific <i>Music Brainz ID</i>
				and section of the piece with the dropdown widgets and click on "Plot on score" button.</li>
		</ul>
		</div>
		<div class=algorithm_selector>
			<label>
			<input type="checkbox" name="checkbalgorithm" id= "sia" value="sia">SIA
				<img src="../static/data/icons/circle.svg" width="18" height="18"/>
			<br/>
			</label>
			<label>
			<input type="checkbox" name="checkbalgorithm" id="tfidf" value="tfidf">TF-IDF
			<img src="../static/data/icons/square.svg" width="18" height="18"/>
			<br/>
			</label>
			<label>
			<input type="checkbox" name="checkbalgorithm" id="centos" value="centos">Centos
			<img src="../static/data/icons/star.svg" width="18" height="18"/>
			<br/>
			</label>
		</div>
		<div class="nawba_selector">
			<div class="family_selector">
			<label>
			<input type="checkbox" name="checkbfamily" id= "dhil" value="dhil">Dhil
			</label>
			<label>
			<input type="checkbox" name="checkbfamily" id= "zaydan" value="zaydan">Zaydan
			</label>
			<label>
			<input type="checkbox" name="checkbfamily" id= "maya" value="maya">Maya
			</label>
			<label>
			<input type="checkbox" name="checkbfamily" id= "mzmum" value="mzmum">Mzmum
			</label>
			</div>
			<div class="nawba_chooser"></div>
		</div>
		<div class=main_tree>
			<div id="sigma-container"></div>
			<!-- <div class="button_to_remove">
				<button type="button" onclick="removePatterns()">Remove patterns</button>
			</div> -->
		</div>
		<div class="score_selector">
			<div class="dropdowns">
				<!-- <div class='mbid_selector'> -->
					<select id="selectMbidButton">
						<option selected="selected">Choose mbid...</option>
					</select>
				<!-- </div> -->
				<!-- <div class='section_selector'> -->
					<select id="selectSectionButton">
						<option selected="selected">Choose section...</option>
					</select>
				<!-- </div> -->
			</div>
			<div class="button_to_plot_score">
				<button type="button" id="plotscore">Plot score with patterns</button>
				<text style="font-size: 17px">(The loading of the score might take some minutes...)</text>
			</div>
		</div>
		<footer>
				<p style="padding-left: 50px">Designed by Miguel García Casado (<a href="miguel.garciac@upf.edu">miguel.garciac@upf.edu</a>),
					within his Master Thesis on the Music Technology	Group, Universitat Pompeu Fabra, Barcelona</p>
				<p style="padding-left: 50px">This tool is inspired in Sankalp Gulati's
					<a href="https://dunya.compmusic.upf.edu/pattern_network/"
					title="Discovery similar phrases in Carnatic Music"
					target="_blank">
					"Discovery similar phrases in Carnatic Music"</a>
				</p>
				<p style="padding-left: 50px"><a href="https://github.com/julian-urbano/MelodyShape"
							title="MelodyShape"
							target="_blank">MelodyShape tool</a> from Julián Urbano was used to compute melodic similarity between patterns
				</p>
				<p style="padding-left: 50px">
					For more information about the Arab-Andalusian dataset, please refer to <a href="https://dunya.compmusic.upf.edu/andalusian/info" title="Dunya" target="_blank">Dunya web page</a>
				</p>
				<p style="padding-left: 50px">
					Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons" target="_blank">Those Icons</a>
				</p>
		</footer>
	</body>
<!-- </html> -->
