<html>
	    <head>
	        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	        <title>Score example</title>
			<script src="../static/opensheetmusicdisplay.min.js"></script>
			<link rel="icon" href="data:;base64,=">
		</head>
		<body>
			<text id='dunya' style='font-size: 25px'> You can check and listen to the score in this
				<a href="https://dunya.compmusic.upf.edu/andalusian/recording/{{scorePath.selectedMbid}}">link</a>
			</text>
			<pre id='xml-div'></pre>
			<script>
			function myFunc(vars) {
    		return vars
			}
			scorePath = myFunc({{scorePath|tojson}});
			// console.log(scorePath.scorePath);
		  var openSheetMusicDisplay = new opensheetmusicdisplay.OpenSheetMusicDisplay("xml-div");
		  openSheetMusicDisplay.load(scorePath.scorePath).then(function(){
			openSheetMusicDisplay.render()});
			</script>
		</body>
